@import url(../lib/FlipClock/compiled/flipclock.css);
@font-face {
  font-family: font-awesome;
  src: url("../lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../lib/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("../lib/font-awesome/fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"); }
html, body, input {
  font-family: DejaVu Sans Mono, Menlo, Consolas, Lucida Console, monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }

.symbol {
  font-family: font-awesome; }

.wholeContainer {
  /* TODO: Media Queries */
  /*height:100%;*/
  /*width:100%;*/
  background: #34282c;
  height: 500px;
  width: 800px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.verticalAlignAndCenter, .leftSide .gameScreen #pauseScreenText, .rightSide .innerRightContainer, .rightSide .absHundred .innerRightSubContainer .relHundred .title, .rightSide .absHundred .innerRightSubContainer .relHundred #buttonsContainer, .rightSide .absHundred .innerRightSubContainer .relHundred #levelDisplayContainer, .rightSide .absHundred .innerRightSubContainer .relHundred #timerContainer {
  left: 50%;
  top: 50%;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.biggest, .leftSide .gameScreen, .rightSide .absHundred, .rightSide .absHundred .innerRightSubContainer .relHundred {
  height: 100%;
  width: 100%; }

.active {
  display: block; }

.notActive {
  display: none; }

.leftSide {
  float: left;
  height: 100%;
  width: 70%; }
  .leftSide #screenContainer {
    float: none;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    position: relative;
    width: 85%; }
  .leftSide .gameScreen {
    background: #EDFDFF;
    position: absolute; }
    .leftSide .gameScreen #pauseScreenText {
      background: none;
      font-size: 2em;
      text-align: left; }

.rightSide {
  float: right;
  height: 100%;
  position: relative;
  width: 30%; }
  .rightSide .innerRightContainer {
    height: 90%;
    width: 90%; }
  .rightSide .absHundred {
    position: absolute; }
    .rightSide .absHundred .innerRightSubContainer {
      height: 25%;
      margin-left: auto;
      margin-right: auto;
      width: 80%; }
      .rightSide .absHundred .innerRightSubContainer .relHundred {
        position: relative; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .title {
          background: #f3ed4e;
          border-color: #FF26C9;
          border-style: dotted;
          border-width: thick;
          color: #FF26C9;
          text-shadow: 2px 2px #FFF;
          width: 100%;
          font-size: 2em; }
        .rightSide .absHundred .innerRightSubContainer .relHundred input:invalid {
          background-color: #FFC0CB; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .buttonText {
          display: table-cell;
          vertical-align: middle; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .gameButton {
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          border-radius: 8px;
          color: #fff;
          cursor: pointer;
          display: table;
          float: left;
          font-family: font-awesome;
          height: 100%;
          width: 40%;
          margin-left: 5%;
          margin-right: 5%;
          position: relative;
          vertical-align: middle; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #buttonsContainer {
          height: 60%;
          width: 100%; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #levelDisplayContainer {
          background: #EDFDFF;
          position: absolute;
          width: 100%; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #levelDisplayContainer.formField {
          margin: 1%;
          padding: 4%; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .levelDisplay {
          font-family: DejaVu Sans Mono, Menlo, Consolas, Lucida Console, monospace;
          font-size: 1.8em;
          vertical-align: middle;
          width: 90%; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .activeButton, .rightSide .absHundred .innerRightSubContainer .relHundred #playPauseButton.enabled:active, .rightSide .absHundred .innerRightSubContainer .relHundred #restartButton:active {
          position: relative;
          top: 6px; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #playPauseButton {
          background-color: #6CBB3C;
          -webkit-box-shadow: 0 6px 0 #569430;
          -moz-box-shadow: 0 6px 0 #569430;
          box-shadow: 0 6px 0 #569430; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #playPauseButton:active.enabled {
          -webkit-box-shadow: 0 3px 0 #22550f;
          -moz-box-shadow: 0 3px 0 #22550f;
          box-shadow: 0 3px 0 #22550f; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #playPauseButton.disabled {
          background-color: #a4d885;
          -webkit-box-shadow: 0 6px 0 #6CBB3C;
          -moz-box-shadow: 0 6px 0 #6CBB3C;
          box-shadow: 0 6px 0 #6CBB3C; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #restartButton {
          background-color: #26C9FF;
          -webkit-box-shadow: 0 6px 0 #00b6f2;
          -moz-box-shadow: 0 6px 0 #00b6f2;
          box-shadow: 0 6px 0 #00b6f2; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #restartButton:active {
          -webkit-box-shadow: 0 3px 0 #00b6f2;
          -moz-box-shadow: 0 3px 0 #00b6f2;
          box-shadow: 0 3px 0 #00b6f2; }
        .rightSide .absHundred .innerRightSubContainer .relHundred #timerContainer {
          width: 85%; }
        .rightSide .absHundred .innerRightSubContainer .relHundred .flip-clock-wrapper {
          margin: 0 !important; }

/*# sourceMappingURL=sticks.css.map */
