html, body, input {
  font-family: DejaVu Sans Mono, Menlo, Consolas, Lucida Console, monospace;
  font-size: 4vh;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden; }

#app-root {
  display: inline; }

.wholeContainer {
  height: 100%;
  width: 100%;
  background: #34282c;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

.verticalAlignAndCenter, .leftSide .gameScreen, .leftSide .gameScreen #pauseScreenText, .rightSide .innerRightContainer, .rightSide .innerRightSubContainer .title, .rightSide .innerRightSubContainer #buttonsContainer, .rightSide .innerRightSubContainer #levelDisplayContainer, .rightSide .innerRightSubContainer #timerContainer, .rightSide .innerRightSubContainer #timerDiv {
  left: 50%;
  top: 50%;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.biggest, .rightSide .innerRightContainer, .svg-content-responsive {
  height: 100%;
  width: 100%; }

.active {
  display: block; }

.notActive {
  display: none; }

.leftSide {
  float: left;
  height: 85%;
  width: 70%;
  position: relative; }
  .leftSide .gameScreen {
    background: #EDFDFF;
    width: 85%;
    margin-top: 5%;
    padding-top: 28.33%;
    padding-bottom: 28.33%; }
    .leftSide .gameScreen #pauseScreenText {
      background: none;
      text-align: left; }

.rightSide {
  float: right;
  height: 100%;
  position: relative;
  width: 30%; }
  .rightSide .innerRightContainer {
    height: 90%;
    width: 90%;
    position: absolute; }
  .rightSide .innerRightSubContainer {
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative; }
    .rightSide .innerRightSubContainer .title {
      background: #F3ED4E;
      border-color: #FF26C9;
      border-style: dotted;
      border-width: thick;
      color: #FF26C9;
      text-shadow: 2px 2px #FFF;
      width: 100%;
      padding: 2%; }
    .rightSide .innerRightSubContainer .maxLevel {
      animation: pulse 0.2s;
      animation-iteration-count: 5; }
@keyframes pulse {
  0% {
    background-color: #FFF; }
  100% {
    background-color: #FF898C; } }
    .rightSide .innerRightSubContainer .buttonText {
      display: table-cell;
      vertical-align: middle; }
    .rightSide .innerRightSubContainer .gameButton {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      display: table;
      float: left;
      font-family: font-awesome;
      height: 100%;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      position: relative;
      vertical-align: middle; }
    .rightSide .innerRightSubContainer #buttonsContainer {
      height: 60%;
      width: 100%; }
    .rightSide .innerRightSubContainer #levelDisplayContainer {
      color: #FF26C9;
      position: absolute; }
    .rightSide .innerRightSubContainer .activeButton, .rightSide .innerRightSubContainer #playPauseButton:active, .rightSide .innerRightSubContainer #restartButton:active {
      position: relative;
      top: 6px; }
    .rightSide .innerRightSubContainer #playPauseButton {
      background-color: #6CBB3C;
      background-image: url(../images/play.svg);
      background-size: 100% 100%;
      -webkit-box-shadow: 0 6px 0 #569430;
      -moz-box-shadow: 0 6px 0 #569430;
      box-shadow: 0 6px 0 #569430; }
    .rightSide .innerRightSubContainer #playPauseButton:active {
      -webkit-box-shadow: 0 3px 0 #22550f;
      -moz-box-shadow: 0 3px 0 #22550f;
      box-shadow: 0 3px 0 #22550f; }
    .rightSide .innerRightSubContainer #playPauseButton.disabled {
      pointer-events: none;
      background-color: #a4d885;
      -webkit-box-shadow: 0 6px 0 #6CBB3C;
      -moz-box-shadow: 0 6px 0 #6CBB3C;
      box-shadow: 0 6px 0 #6CBB3C; }
    .rightSide .innerRightSubContainer #restartButton {
      background-color: #26C9FF;
      background-image: url(../images/restart.svg);
      background-size: 100% 100%;
      -webkit-box-shadow: 0 6px 0 #00b6f2;
      -moz-box-shadow: 0 6px 0 #00b6f2;
      box-shadow: 0 6px 0 #00b6f2; }
    .rightSide .innerRightSubContainer #restartButton:active {
      -webkit-box-shadow: 0 3px 0 #00b6f2;
      -moz-box-shadow: 0 3px 0 #00b6f2;
      box-shadow: 0 3px 0 #00b6f2; }
    .rightSide .innerRightSubContainer #timerContainer {
      width: 85%;
      height: 100%;
      background-image: url(../images/stopwatch.svg);
      background-size: 100% 100%; }
    .rightSide .innerRightSubContainer #timerDiv {
      color: #FF26C9; }

.svg-container {
  position: relative;
  overflow: hidden; }

.svg-content-responsive {
  position: absolute;
  left: 0;
  top: 0; }

/*# sourceMappingURL=sticks.css.map */
