@import "mixins";

$invalidInputColor: #FFC0CB;
$fuchsia: #FF26C9;
$blueGrey: #EDFDFF;
$playButtonColor: #6CBB3C;
$playButtonActiveColor: #348017;
$restartButtonColor: #26C9FF;
$yellow: #F3ED4E;
$buttonUnPressedPx: 6px;
$buttonPressedPx: 3px;

html, body, input {
  font-family: DejaVu Sans Mono, Menlo, Consolas, Lucida Console, monospace;
  font-size: 4vh;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

#app-root {
  display: inline;
}

.wholeContainer {
  height:100%;
  width:100%;
  background: #34282c;
  position: relative;
  margin: 0;
  padding: 0;
  @include user-select(none);
}

.verticalAlignAndCenter {
  left: 50%;
  top: 50%;
  position: absolute;
  @include transform(translateX(-50%) translateY(-50%));
}

.biggest {
  height: 100%;
  width: 100%;
}

.active {
  display: block;
}

.notActive {
  display: none;
}

.leftSide {
  float: left;
  height: 85%;
  width: 70%;
  position: relative;

  .gameScreen {
    background: $blueGrey;
    width: 85%;
    margin-top: 5%;
    padding-top:28.33%;
    padding-bottom:28.33%;
    @extend .verticalAlignAndCenter;

    #pauseScreenText {
      background: none;
      text-align: left;
      @extend .verticalAlignAndCenter;
    }
  }
}

.rightSide {
  float: right;
  height: 100%;
  position: relative;
  width: 30%;

  .innerRightContainer {
    height: 90%;
    width: 90%;
    @extend .verticalAlignAndCenter, .biggest;
    position: absolute;
  }

  .innerRightSubContainer {
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;

    .title {
      @extend .verticalAlignAndCenter;
      background: $yellow;
      border-color: $fuchsia;
      border-style: dotted;
      border-width: thick;
      color: $fuchsia;
      text-shadow: 2px 2px #FFF;
      width: 100%;
      padding: 2%;
    }

    .maxLevel {
      animation: pulse 0.2s;
      animation-iteration-count: 5;
    }

    @keyframes pulse {
      0% {
        background-color: #FFF;
      }
      100% {
        background-color: #FF898C;
      }
    }

    .buttonText {
      display: table-cell;
      vertical-align: middle;
    }

    .gameButton {
      @include border-radius(8px);
      color: #fff;
      cursor: pointer;
      display: table;
      float: left;
      font-family: font-awesome;
      height: 100%;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      position: relative;
      vertical-align: middle;
    }

    #buttonsContainer {
      height: 60%;
      width: 100%;
      @extend .verticalAlignAndCenter;
    }

    #levelDisplayContainer {
      color: $fuchsia;
      position: absolute;
      @extend .verticalAlignAndCenter;
    }

    .activeButton {
      position: relative;
      top: 6px;
    }

    #playPauseButton {
      background-color: $playButtonColor;
      background-image: url(../images/play.svg);
      background-size: 100% 100%;
      @include box-shadow(0, $buttonUnPressedPx, 0, darken($playButtonColor, 10%));
    }

    #playPauseButton:active {
      @extend .activeButton;
      @include box-shadow(0, $buttonPressedPx, 0, darken($playButtonActiveColor, 10%));
    }

    #playPauseButton.disabled {
      pointer-events: none;
      background-color: lighten($playButtonColor, 20%);
      @include box-shadow(0, $buttonUnPressedPx, 0, $playButtonColor);
    }

    #restartButton {
      background-color: $restartButtonColor;
      background-image: url(../images/restart.svg);
      background-size: 100% 100%;
      @include box-shadow(0, $buttonUnPressedPx, 0, darken($restartButtonColor, 10%));
    }

    #restartButton:active {
      @extend .activeButton;
      @include box-shadow(0, $buttonPressedPx, 0, darken($restartButtonColor, 10%));
    }

    #timerContainer {
      width: 85%;
      height: 100%;
      @extend .verticalAlignAndCenter;
      background-image: url(../images/stopwatch.svg);
      background-size: 100% 100%;
    }

    #timerDiv {
      color: $fuchsia;
      @extend .verticalAlignAndCenter;
    }
  }
}

.svg-container {
  position: relative;
  overflow: hidden;
}

.svg-content-responsive {
  position: absolute;
  left:0;
  top:0;
  @extend .biggest;
}